CRUD_SERVICE_URL="http://localhost:8000"
QUEUE_POLL_INTERVAL_SECONDS=5
JOB_VISIBILITY_TIMEOUT_SECONDS=300
HEARTBEAT_INTERVAL_SECONDS=60

OPENAI_API_KEY=KEY

HEADLESS=True # playwright

BRIGHT_DATA_API_KEY=KEY
BRIGHT_DATA_ZONE=KEY